@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-serene/10 text-gray-800;
  font-family: 'Inter', sans-serif;
  font-family: 'Sora', sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
